
.header-top {
    background: $grey-color;
    border-bottom: #eaeaea;
    
    @media screen and (max-width: $tableWidth) {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        vertical-align: center;
    }

    .puh-container {
        width: 100%;
        height: 40px;
        background-image: url('../image/puh.png');
    }
    .login-buttons{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        padding: 13px 0;
        font-size: 13px;
        font-weight: 400;
        a {
            display: block;
            border-bottom: 1px solid transparent;
            color: $text-color;
        }
        a:hover{
            border-bottom: 1px solid #666666;
        }
        li:first-of-type {
            padding-right: 8px;
            border-right: 1px solid white;
        }
        li:nth-of-type(2) {
            padding-left: 8px;
            border-left: 1px solid #bbb7b7;
        }
    }
}


.header-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 8% !important;

    @media screen and (max-width: $tableWidth) {
        padding: 15px 8% !important;
    }
    .brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            object-fit: contain;
            @media screen and (max-width: $tableWidth) {
                margin-bottom: 10px;
                width: 80%;
            }
        }

        @media screen and (max-width: $tableWidth) {
            justify-content: center;   
        }
    }
    .pacage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        color: $text-color;
        font-weight: 400;
        font-size: 1rem;
        @media screen and (max-width: $tableWidth) {
            margin: 0 auto;
            text-align: center;
        }
        p:first-of-type {
            margin-bottom: 4px;
        }
        span {
            cursor: pointer;
            color: $highlight-color;
            &:hover {
                border-bottom: 1px dashed $highlight-color;
            }
        }
        &::before {
            content: url('../image/pacage.png');
            position: absolute;
            left: -42px;
        }
    }
}

.header-bottom {
    background: $green-dark;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .input-container {
        position: relative;
        &::before{
            position: absolute;
            content: url('../image/search_go.png');
            right: 10px;
            top: 35%;
        }
        @media screen and (max-width: $tableWidth) {
            display: none;
        }
    }

    nav {
        @media screen and (max-width: $tableWidth) {
            width: 100%;
        }
    }
    .toggle-nav {
        color: white;
        display: none;
        ul {
            margin: 10px auto;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            margin-top: 10px;
            font-size: 1.2rem;
            li:nth-of-type(2) {
                font-size: 2rem;
            }
        }
        @media screen and (max-width: $tableWidth) {
            display: block;
        }
    }
    .nav-container {
        display: flex;
        @media screen and (max-width: $tableWidth) {
            display: none;
            flex-direction: column;
            animation: toggle;
            transition: all 0.15s ease-out;
            &.active {
                width: 90%;
                margin: 0 auto;
                display: flex;
            }
        }
        a {
            width: 100%;
            display: block;
            font-size: 18px;
            text-transform: uppercase;
            color: white;
            text-shadow: .5px -1px 0px black;
            &:hover {
                border-bottom: 1px solid #666666;
                box-shadow: 0 1px 0 #eaeaea;
            }
        }

        li {
            border-right: 1px dashed #89cac9;
            border-left: 1px dashed #223d3d;
            @media screen and (max-width: $tableWidth) {
                border: 0;
                padding: 10px 0;
            }
            &:first-of-type{
                padding-left: 0;
                border-left: 0;
            }
            &:last-of-type {
                border-right: 0;
            }
            padding: 0 22px;
        }
    }
}

.numbers-container {
    display: flex;
    font-weight: 400;
    margin-left: 70px;
    @media screen and (max-width: $tableWidth) {
        margin-left: 0;
        margin-bottom: 10px;
    }
    a {
        color: $highlight-color;
    }

    p {
        font-size: 1rem;
    }

    @media screen and (max-width: $phoneWidth) {
        p {
            font-size: .8rem;
        }

        .number {
            font-size: 1.5rem;
        }
    }

    .number {
        font-size: 1.9rem;
        margin-bottom: 10px;
        @media screen and (max-width: $phoneWidth) {
            font-size: 1.5rem;
        }
    }
    div:nth-of-type(2){
        margin-left: 40px;
        @media screen and (max-width: $tableWidth) {
            margin-left: 20px;;
        }
    }
}

input.search {
    margin: 10px 0;
    height: 25px;
    width: 370px;
    border: 1px solid #b8b4b4;
    padding-left: 10px;
    &::placeholder {
        font-size: 13px;
        color: #b9baba;
        font-style: italic;
    }
}


@keyframes toggle {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}