$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$grey-color: #eeeeee;
$text-color: #666666;
$highlight-color: #64a0a2;
$green-dark: #5f8591;